:root {
    --main-color: #dedede;
    --secondary-color: #1D1D1D;
    --ternary-color: #898989;
    --main-white: #ffffff;

    --default-padding: 0.9rem;

    --container-width-lg: 25%;
    --container-width-md: 46%;
    --container-width-sm: 80%;
    --container-radius-lg: 0.5rem;
}

body {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

/* ================ General Styles ================ */

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

/* ============== Media Queries (Medium Devices) ============== */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
}

/* ============== Media Queries (Small Devices) ============== */
@media screen and (max-width: 800px) {
    .container {
        width: var(--container-width-sm);
    }
}