:root {
    --main-color: #dedede;
    --secondary-color: #1D1D1D;
    --ternary-color: #898989;
    --main-white: #ffffff;
    --pitch-black: #000000;

    --default-padding: 0.9rem;
    --container-radius-lg: 0.5rem;
    --default-margin-separation: 0.7rem;

    --container-width-lg: 25%;
    --container-width-md: 46%;
    --container-width-sm: 80%;
}

body {
    color: var(--secondary-color);
    height: 100vh;

    /*Background Work*/
    background-color: var(--main-white);
    background-image: url('./assets/bg_texture.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ================ General Styles ================ */

.container {
    width: var(--container-width-lg);
}

/* ============== Media Queries (Medium Devices) ============== */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
}

/* ============== Media Queries (Small Devices) ============== */
@media screen and (max-width: 800px) {
    .container {
        width: var(--container-width-sm);
    }
}